body {
    background-color: black;
    font-family: arial;
    color: white;
}
h1{
    color: gray;
    /* font-family: verdana; */
    font-size: 40px;
}
.maindiv{
    background-color: white;
    color: black;
    width: 520px;
    padding: 20px;
    /* round borders */
    border-radius: 25px;
    margin: auto;
}
table{
    padding-left: 86px;
}
td {
    padding-bottom: 10px;
}
footer{
    color: rgb(126, 126, 126);
}